/* 
* Meridian Identity Standards Brand Colors
*/

// Browns
$brown-primary: #aa6f39;
$brown-dark-1: #552900;
$brown-dark-2: #804815;
$brown-light-1: #d49d6a;
$brown-light-2: #ffd3aa;

// Golds
$gold-primary: #aa8639;
$gold-dark-1: #533c14;
$gold-dark-2: #805e15;
$gold-light-1: #d4b36a;
$gold-light-2: #ffe4aa;

// Blues
$blue-primary: #2f4073;
$blue-dark-1: #061339;
$blue-dark-2: #162656;
$blue-light-1: #50608f;
$blue-light-2: #7986ac;

// Bluegreens
$green-primary: #246068;
$green-dark-1: #012e34;
$green-dark-2: #0e464e;
$green-light-1: #427a82;
$green-light-2: #69969c;

// Success / Error colors
$c-error: #ff3448;
$c-success: #5fb662;
$c-info: #2498bc;
$c-warning: #ffe79e;

// Gradient for stuff
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445564+0,6b7f99+10,536171+50,4e5a69+51,393b3e+100 */
$c-gradient: linear-gradient(to bottom,  #445564 0%,#6b7f99 10%,#536171 50%,#4e5a69 51%,#393b3e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$c-gradient-windows: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445564', endColorstr='#393b3e',GradientType=0 ); /* IE6-9 */

// Meridian Rx Color palette - http://atlasdev01.caidan.local/resources/StyleGuide/Caidan/Colors.html
$mrx-c-1: #3b4968;// dark blue
$mrx-c-2: #416993;// blue
$mrx-c-3: #8cd2d2;// light blue
$mrx-c-4: #7a9b43;// green
$mrx-c-5: #25382b;// brown
$mrx-c-6: #d1d2d4;// gray
$mrx-c-7: #dbd8cf;// darker gray
