/* 
* Meridian Identity Standards Brand Colors
*/

// Browns
$brown-primary: #aa6f39;
$brown-dark-1: #552900;
$brown-dark-2: #804815;
$brown-light-1: #d49d6a;
$brown-light-2: #ffd3aa;

// Golds
$gold-primary: #aa8639;
$gold-dark-1: #533c14;
$gold-dark-2: #805e15;
$gold-light-1: #d4b36a;
$gold-light-2: #ffe4aa;

// Blues
$blue-primary: #2f4073;
$blue-dark-1: #061339;
$blue-dark-2: #162656;
$blue-light-1: #50608f;
$blue-light-2: #7986ac;

// Bluegreens
$green-primary: #246068;
$green-dark-1: #012e34;
$green-dark-2: #0e464e;
$green-light-1: #427a82;
$green-light-2: #69969c;
